@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: auto !important;
  /* border: 1px solid black; */
}

img,
picture {
  max-width: 100%;
  display: block;
}

button {
  font-family: inherit;
  border: none;
  outline: none;
  text-transform: inherit;
}

html {
  font-size: 62.5%;
}

:root {
  --orange: #fda214;
  --grey: #bcced9;
  --dark-blue: #304859;
  --very-dark-blue: #152938;
  --grey-blue: #f2f2f2;
  --light-blue: #7191a5;
  --blue: #6395b8;
  --white: #fcfcfc;
}

body {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-size: 1.8rem;
  background: var(--very-dark-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.game-start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 2.4rem;
}

.hidden {
  display: none;
}

main img {
  margin-bottom: 4.5rem;
}

.start-menu {
  width: 100%;
  max-width: 32.7rem;
  background: var(--white);
  border-radius: 10px;
  padding: 2.4rem;
}

.start-menu p {
  color: var(--light-blue);
  line-height: 19px;
  margin-bottom: 1.1rem;
}

.start-menu button {
  background: var(--grey);
  border-radius: 2.6rem;
  padding: 1rem 0;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: var(--white);
  cursor: pointer;
  margin-bottom: 2.4rem;
}

.start-menu button.checked {
  background: var(--dark-blue);
}

.wrap-theme,
.wrap-players,
.wrap-grid {
  display: flex;
  gap: 1.1rem;
}

.wrap-theme button,
.wrap-grid button {
  width: 13.4rem;
}

.wrap-players button {
  width: 6.2rem;
}

.wrap-grid button {
  margin-bottom: 3.2rem;
}

.start-menu .start-game {
  width: 100%;
  background: var(--orange);
  padding: 1.2rem 0 1.4rem;
  margin-bottom: 0;
}
