.modal-menu {
  position: absolute;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  width: 100%;
  max-width: 32.7rem;
  background: var(--grey-blue);
  border-radius: 10px;
  padding: 2.4rem;
  box-shadow: 1px 1px 1px 2000px rgba(0, 0, 0, 0.5);
}

.modal-menu.hidden,
.modal-solo-game-over.hidden,
.modal-multiplayer-game-over.hidden {
  display: none;
}

.modal-menu button,
.modal-solo-game-over button,
.modal-multiplayer-game-over button {
  width: 27.9rem;
  height: 4.8rem;
  background: #dfe7ec;
  border-radius: 2.6rem;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: var(--dark-blue);
}

.modal-menu button:nth-child(1) {
  background: var(--orange);
  color: var(--white);
}

#restart-btn {
  margin: 2.4rem 0 1.6rem;
  background: var(--orange);
  color: var(--white);
}

.modal-solo-game-over,
.modal-multiplayer-game-over {
  position: absolute;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 32.7rem;
  background: var(--grey-blue);
  border-radius: 10px;
  padding: 2.4rem;
  box-shadow: 1px 1px 1px 2000px rgba(0, 0, 0, 0.5);
}

.modal-solo-game-over h3,
.modal-multiplayer-game-over h3 {
  margin: 0.8rem 0 0.9rem;
  font-size: 2.4rem;
  line-height: 3rem;
  color: var(--very-dark-blue);
}

.modal-solo-game-over p,
.modal-multiplayer-game-over p {
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: var(--light-blue);
}

.time-elapsed,
.moves-taken {
  background: #dfe7ec;
  width: 100%;
  height: 4.8rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.6rem;
  margin: 2.4rem 0 0.8rem;
  border-radius: 5px;
}

.moves-taken {
  margin: 0;
}

.player1 {
  margin-top: 2.4rem;
}

.player1,
.player2,
.player3,
.player4 {
  background: #dfe7ec;
  width: 100%;
  height: 4.8rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.6rem;
  border-radius: 5px;
  margin-bottom: 0.8rem;
}

.player1.active,
.player2.active,
.player3.active,
.player4.active {
  background: var(--very-dark-blue);
  color: var(--white);
}

.player1.active p,
.player2.active p,
.player3.active p,
.player4.active p {
  color: var(--white);
}

@media screen and (max-width: 374px) {
  .card {
    width: calc(100vw * 0.1933);
    height: calc(100vw * 0.1933);
  }

  .time,
  .moves {
    width: calc(100vw * 0.403);
  }

  .multiplayer-scores {
    gap: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .start-menu {
    max-width: 65.4rem;
    border-radius: 20px;
    padding: 5.6rem;
  }

  .start-menu p {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .start-menu button {
    font-size: 2.6rem;
    line-height: 3.2rem;
  }

  .start-menu button:not(.start-game, .checked):hover {
    background: #6395b8;
  }

  .wrap-theme,
  .wrap-grid {
    gap: 3rem;
  }

  .wrap-players {
    gap: 2.15rem;
  }

  .wrap-theme button,
  .wrap-grid button {
    width: 25.6rem;
  }

  .wrap-players button {
    width: 11.9rem;
  }

  .start-menu .start-game {
    padding: 1.6rem 0 1.4rem;
    font-size: 3.2rem;
    line-height: 4rem;
    border-radius: 35px;
  }

  .start-menu .start-game:hover {
    background: #ffb84a;
  }

  .game {
    padding: 3.7rem 3.95rem 4.8rem;
  }

  .desktop {
    display: flex;
  }

  .header {
    max-width: 111rem;
  }

  .header p {
    font-size: 4rem;
    line-height: 5rem;
  }

  .menu-btn {
    display: none;
  }

  .desktop-buttons {
    display: flex;
    gap: 1.6rem;
  }

  .desktop-buttons button {
    width: 12.7rem;
    padding: 1.3rem 0 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 26px;
    font-size: 2rem;
    line-height: 2.5rem;
    color: var(--white);
    background: var(--orange);
    transition: all 200ms ease-in-out;
    cursor: pointer;
  }

  .desktop-buttons button:hover {
    background: #ffb84a;
  }

  .desktop-buttons button:nth-child(2) {
    width: 14.9rem;
    color: var(--dark-blue);
    background: #dfe7ec;
  }

  .desktop-buttons button:nth-child(2):hover {
    background: #6395b8;
    color: var(--white);
  }

  .body {
    margin: 15.7rem 0 12.6rem;
    gap: 2rem;
  }

  .row {
    gap: 2rem;
  }

  .card {
    width: 11.8rem;
    height: 11.8rem;
    font-size: 5.6rem;
    line-height: 6.9rem;
  }

  .card:not(.flip, .matched):hover {
    background: #6395b8;
  }

  .game.grid-6 .body {
    margin: 12.1rem 0 12.2rem;
    gap: 1.6rem;
  }

  .game.grid-6 .row {
    gap: 1.6rem;
  }

  .card.grid6 {
    width: 8.2rem;
    height: 8.2rem;
    font-size: 4.4rem;
    line-height: 5.5rem;
  }

  .footer {
    gap: 3rem;
  }

  .time,
  .moves {
    width: 25.5rem;
    height: 7.2rem;
    border-radius: 10px;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2.4rem 0 2.1rem;
  }

  .time p,
  .moves p {
    font-size: 1.8rem;
    line-height: 2.2rem;
  }

  .timer,
  .moves-played {
    font-size: 3.2rem;
    line-height: 4rem;
  }

  .modal-solo-game-over,
  .modal-multiplayer-game-over {
    max-width: 65.4rem;
    padding: 5.1rem 5.6rem 6.9rem;
  }

  .modal-solo-game-over h3,
  .modal-multiplayer-game-over h3 {
    font-size: 4.8rem;
    line-height: 6rem;
    margin: 0 0 1.6rem;
  }

  .modal-solo-game-over p,
  .modal-multiplayer-game-over p {
    font-size: 1.8rem;
    line-height: 2.2rem;
  }

  .time-elapsed,
  .moves-taken {
    margin: 4rem 0 1.6rem;
    border-radius: 10px;
    height: 7.2rem;
  }

  .moves-taken {
    margin: 0;
  }

  .moves-total,
  .chrono,
  .moves-p1,
  .moves-p2,
  .moves-p3,
  .moves-p4 {
    font-size: 3.2rem;
    line-height: 4rem;
  }

  .modal-buttons {
    display: flex;
    align-items: center;
    gap: 1.4rem;
    margin-top: 4rem;
  }

  .modal-buttons button {
    width: 26.4rem;
    cursor: pointer;
  }

  .modal-buttons button:hover {
    background: #6395b8;
    color: var(--white);
  }

  #restart-btn {
    margin: 0;
  }

  #restart-btn:hover {
    background: #ffb84a;
  }

  .player1,
  .player2,
  .player3,
  .player4 {
    height: 7.2rem;
    border-radius: 10px;
    margin-bottom: 1.6rem;
  }

  .mobile {
    display: none;
  }

  .multiplayer-scores .player-one,
  .player-two,
  .player-three,
  .player-four {
    width: 16.4rem;
    height: 8rem;
    border-radius: 10px;
    align-items: flex-start;
    padding: 0 1.6rem;
  }

  .multiplayer-scores .player-one.active p,
  .player-two.active p,
  .player-three.active p,
  .player-four.active p {
    margin-top: 1.5rem;
  }

  .multiplayer-scores .player-one.active::before,
  .player-two.active::before,
  .player-three.active::before,
  .player-four.active::before {
    width: 2.4rem;
    height: 2.4rem;
    margin-top: -3.9rem;
    margin-left: 5.3rem;
  }
}

@media screen and (min-width: 1440px) {
  .body {
    margin: 10.5rem 0 12.6rem;
  }

  .game.grid-6 .body {
    margin: 8.5rem 0 10.6rem;
  }

  .multiplayer-scores .player-one,
  .player-two,
  .player-three,
  .player-four {
    width: 25.5rem;
    height: 7.2rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.4rem 0 2.1rem;
  }

  .multiplayer-scores p {
    font-size: 1.8rem;
    line-height: 2.2rem;
  }

  .score-p1,
  .score-p2,
  .score-p3,
  .score-p4 {
    font-size: 3.2rem;
    line-height: 4rem;
  }

  .multiplayer-scores .player-one.active::before,
  .player-two.active::before,
  .player-three.active::before,
  .player-four.active::before {
    width: 3.85rem;
    height: 3.85rem;
    margin-top: -10.95rem;
    margin-left: 8.6rem;
  }

  .multiplayer-scores .player-one.active p,
  .player-two.active p,
  .player-three.active p,
  .player-four.active p {
    margin-top: 0;
    margin-left: -24.5rem;
  }
}
